[submodule "seminartopic/themes/inkblotty"]
	path = seminartopic/themes/inkblotty
	url = https://github.com/tosi29/inkblotty.git
[submodule "public"]
	path = public
	url = git@github.com:akaj-team/seminar-topic.git
	branch = master
